/* MOBILE */


.custom-navbar {
    width: 100%; 
    max-width: 100%;
    height: 85px;
    background-color: black;
    border-bottom: 1px solid grey;
    padding: 0 1rem !important;
}


.container-fluid {
    height: 100%;
    padding: 0 !important;
    display: flex;
    justify-content: space-between !important;

    /* background-color: blue !important; */
}

.logo-img {
    width: 50px;
    height: 50px;
}



/* organizacion del navbar */
.uno {  /* Boton para menu */
    order: 0;
}
.navbar-toggler {
    border: none !important;
}

.dos {  /* Logo */
    order: 1;
    margin: 0 !important;
    padding: 0 !important;
}

.tres {  /* Contenido para el menu */
    order: 2;
}

.cuatro {  /* Carito */
    order: 3;
}
/* organizacion del navbar */


























/* cambio de color icono de menu hamburguesa */
.uno .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.uno:focus {
    /* outline: 0; */
    box-shadow: none !important;
}

.offcanvas-header .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    opacity: 1; /* Asegura que no tenga transparencia si Bootstrap la aplica por defecto */
}

/* Opcional: Estilo para el estado focus, si quieres que también sea blanco */
.offcanvas-header .btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25); /* Un box-shadow blanco suave */
}
/* cambio de color incono de menu hamburguesa */

/* menu hamburguesa navbar de color negro */

.tres {
    background-color: black !important;
}



/* menu hamburguesa navbar de color negro */


.uno {
    padding: 0 !important;
}





/* MENU HAMBURGUESA */
.tres {  /* Contenido para el menu */
    width: 85vw !important;
    border-right: 1px solid gray !important;
}

/* HEADER DE MENU HAMBURGUESA */

.offcanvas-header {
    height: 85px;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0 2rem !important;
}

.chota {
    margin: auto;
}

.btn-close {
    height: 50px !important;
    /* width: 50px !important; */
    margin: 0 !important;
    padding: 0 !important;
    /* background-color: blue !important; */
}







/* HEADER DE MENU HAMBURGUESA */

/* BODY DE MENU HAMBURGUESA */

.offcanvas-body {
    display: flex;
    flex-direction: column;

    /* background-color: blue; */
    /* padding: 2rem !important; */
    padding: 0 !important;
}

.links {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-top: 1px solid gray;
    padding: 1rem;
}

.links-login {
    font-size: 10px;
}





/* BODY DE MENU HAMBURGUESA */
/* MENU HAMBURGUESA */







/* MOBILE */






/* === DESKTOP ( Mas de 768px ) === */
@media (min-width: 768px) {

    .custom-navbar {
        /* width: 30px; */
        background-color: blueviolet !important;
        padding: 0 !important;
    }

    .uno {
        order: 0;
    }

    .dos {
        order: 1;
    }

    .tres {
        order: 3;
    }

    .cuatro {
        order: 2;
    }









    .container-fluid {
    /* width: 100px !important; */
    background-color: red !important;
    }




    .uno {
    display: none !important; /* Esto oculta el Navbar.Toggle */
    }


    /* Y asegúrate de que el Navbar.Offcanvas esté oculto en desktop
    .tres {
        display: none !important;
    } */

    .dos {
        margin: 0 !important;
    }



}

